#verCandidatoButton,
#verVotacionesButton,
#votarButton,
#registrarButton {
    background-color:blue;
    color: white;  
}
#verCandidatoButton {
    position: relative;
    left: 400px;
    top:35px;
}
#verVotacionesButton {
    position: relative;
    left: 400px;
    top:35px;
}
#registrarCandidato,
#registrarVoto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center; 
}
#verCandidatoButton,
#verVotacionesButton {
    display: overlay;
    align-content: right; 
}
#todos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
#todos * {
    margin:5px 20px 5px 20px;
}
